# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
Thumbs.db
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/.nx
/.nx/cache
/.vscode/*
!/.vscode/extensions.json
.idea


*.log*
.cache/

# Optional eslint cache
.eslintcache

# Dependencies
node_modules/

# Build outputs
www/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

.capacitor/
android/
ios/
