.list-selector {
    background-color: var(--ion-color-light);
    padding: 10px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.list-selector::-webkit-scrollbar {
    display: none;
}


.list-button {
    padding: 10px 15px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
}

.list-button:hover {
    background-color: #ffffff;
    cursor: pointer;

}

ion-button {
    white-space: nowrap;
}

.delete-button {
    padding-left: 20px;
}

.delete-button:hover {
    background-color: transparent !important;
    cursor: pointer;
}