.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    padding: 20px;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 70vw;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    width: 70vw;
}
