.list-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid #ccc;
    width: 80vw;
}

.checkmark-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.delete-button {
    justify-content: center;
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: red;
}